.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App > div {
  display: flex;
  flex-direction: column;
}

.App > div > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input {
  border: none;
  border-radius: 0.5rem;
  min-width: 200px;
  min-height: 30px;
}

button {
  cursor: pointer;
  height: 32px;
  width: 50px;
  border: none;
  border-radius: 0.5rem;
}

ul {
  list-style-type: none;
}

ul > div {
  margin: 1rem;
  background: white;
  color: black;
  border-radius: 2rem;
  min-width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.deleteBtn {
  cursor: pointer;
  background: white;
  color: black;
  border: 5px solid red;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.toggleBtn {
  cursor: pointer;
  background: white;
  color: black;
  border: 5px solid yellow;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
